@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f9 !important;
  max-width: 1080px;
  margin: 0 auto !important;
}

code {
  font-family: "IBM Plex Sans", "sans-serif";
}
