@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

body {
  font-family: "IBM Plex Sans", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f9 !important;
  max-width: 1080px;
  margin: 0 auto !important;
  /* float: none !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
