.leaflet-container {
  /* background-color: #f2f4f9; */
  background-color: rgba(255, 0, 0, 0);
  border: "2px solid red";
  height: 60vh;
  /* max-width: 1500px; */
}

#info-pane {
  font-family: "IBM Plex Sans", "sans-serif";
  background-color: #f2f4f9;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  top: 30px;
  /* right: px; */
  max-width: 200px;
  z-index: 400;
  /* padding: 15px; */
  border-radius: 10px;
  border: 2px solid #f2f4f9;
  font-size: 14px;
  text-align: center;
}

.map-box {
  /* border: 2px solid red; */
  /* margin-left: auto;
  margin-right: auto;
  width: 960px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
} */
